body {
  font-family: sans-serif;
}

#table-container {
  overflow-y: auto;
  padding: 1rem 4rem;
}

#tx-table {
  width: 100%;
  table-layout: fixed;
}

#tx-table .col-date {
  width: 25ch;
}

#tx-table .col-desc {
  min-width: 4ch;
}

#tx-table .col-amount {
  width: 27ch;
}

#tx-table .col-account {
  width: 24ch;
}

#tx-table tbody tr {
  height: 3rem;
}

#menu-button {
  left: 4rem;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.table, .btn, .form-control-color {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.form-control-color {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  padding: 0;
}

#tx-table.table-sm td,
#tx-table.table-sm th {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
